.card-component {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inner-card {
    width: 60vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cards {
    width: 310px;
    height: 350px;
    background-color: rgb(235, 226, 243);
    border-radius: 12px;
    transform: scale(0.8);
    transition: ease-in-out .3s;
    cursor: pointer;
}

.cards:nth-child(2) {
    background-color: burlywood;
}

.cards:nth-child(3) {
    background-color: skyblue;
}

.cards:nth-child(4) {
    background-color: rosybrown;
}

.cards:nth-child(5) {
    background-color: lightgreen;
}

.cards:hover {
    transform: scale(0.9);
    margin: 0 8px;
}

/* this is for line control in heading or paragraph */

.truncate-1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.truncate-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}